<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Session Test Automation Suite">
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<!-- <listeners>
		<listener class-name="Analyzer.MyTransformer"></listener>
	</listeners> -->
	<test name="Testng Feature Test">
		<classes>
			<class name="com.qa.testcases.HomePageTest"/>
			<!-- <class name="com.qa.testcases.LoginPageTest"/> -->
		</classes>
	</test>
	
</suite>