<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Session Test Automation Suite" parallel="none">
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
	<!-- <listeners>
		<listener class-name="Analyzer.MyTransformer"></listener>
	</listeners> -->
	
	<test name="ChromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<!-- <class name="com.qa.testcases.multipeBrowser"/> -->
			<class name="com.qa.testcases.HomePageTest"/>
			<!-- <class name="com.qa.testcases.LoginPageTest"/> -->
		</classes>
	</test>
	<test name="FireFoxTest">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<!-- <class name="com.qa.testcases.multipeBrowser"/> -->
			<class name="com.qa.testcases.HomePageTest"/>
			<!-- <class name="com.qa.testcases.LoginPageTest"/> -->
		</classes>
	</test>
	
</suite>